@CHARSET "UTF-8";

table.imagetable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}

table.imagetable th {
	background-color: lightblue;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

table.imagetable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

input {
	border-width: 0;
	background-color: transparent;
}